@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  background-color: rgb(31 41 55);
}
body {
  height: 100%;
  min-height: 100%;
}
#root {
  height: 100%;
  background: rgb(31 41 55);
}
